/*
* === colors variables===
*/
/*
* === other variables===
*/
/*

* === general styles ===
*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', 'Lato', sans-serif;
  text-align: center;
  box-sizing: border-box; }

h1, h2, h3, h4, li {
  color: #0D4081; }

h1 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 300; }

h3 {
  font-size: 1.2rem;
  font-weight: 400; }

p {
  font-size: 17px;
  color: #0D4081;
  line-height: 30px; }

li {
  list-style-type: none;
  font-size: 17px; }

a {
  text-decoration: none; }
  a:link, a:visited {
    color: #0D4081; }

.active {
  border-bottom: 3px solid #B8BE00; }

/*
* === header ===
*/
header {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }

.header-inner {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 1.3rem 1.3rem 1.3rem; }

.logo {
  height: 70px; }

.logo img {
  height: 70px;
  margin-top: 0.3rem; }

nav {
  margin-top: -1.8rem; }
  nav ul {
    margin-top: 2rem; }
    nav ul li {
      margin: 0.7rem;
      padding-bottom: 0.2rem;
      display: inline; }

.menu {
  width: 48px;
  height: 48px;
  position: relative;
  text-align: left; }
  .menu .line {
    position: absolute;
    height: 5px;
    width: 100%;
    background: #0D4081;
    border-radius: 10px;
    transition: 0.2s ease-in-out; }
  .menu .one {
    top: 20%; }
  .menu .two {
    top: 50%; }
  .menu .three {
    top: 80%; }

h2 {
  font-size: 1.5rem;
  margin-top: 2.5rem;
  position: relative;
  color: #0D4081;
  border-bottom: 4px solid #F6B229;
  display: inline-block;
  padding-bottom: 0.5rem; }

/*
* === home ===
*/
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32vh; }
  .banner h1 {
    padding: 1rem; }

.home-banner {
  background-image: url("../assets/ps-color-pic/panels-oferta-db.jpg");
  background-position: center; }

.oferta-banner {
  background-image: url("../assets/ps-color-pic/szkic-db.jpg"); }
  .oferta-banner h3 {
    color: #fff;
    max-width: 600px;
    font-weight: 300;
    padding: 1rem; }

.ref-tiles {
  display: flex;
  flex-direction: column; }

.tile {
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: #f4f5f5;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 10px; }
  .tile img {
    height: 60px;
    margin-top: 1.1rem; }
  .tile button {
    font-family: 'Nunito';
    font-size: 1rem;
    margin-top: 1.3rem;
    cursor: pointer;
    padding: 1rem;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border: none;
    color: #0D4081;
    border-radius: 10px;
    transition: all 0.5s; }
    .tile button:hover {
      background: #0D4081;
      color: #fff; }
  .tile p {
    margin: 0; }

.home-photo-tiles {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 2rem; }
  .home-photo-tiles img {
    height: 50px; }

.rectangle {
  margin: 0 auto;
  height: 12rem;
  width: 90%; }

.icon-tile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #0D4081;
  color: #fff; }
  .icon-tile p {
    margin-top: 0;
    color: #fff; }

.home-photo-tile {
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1rem; }

.quality {
  background-image: url("../assets/realizacje/IMG_4567-1024x768.jpg"); }

.energy {
  background-image: url("../assets/realizacje/IMG_4009-1024x576.jpg"); }

.assembly {
  background-image: url("../assets/pexels/assembly.jpg"); }

/*
* === o firmie ===
*/
.text-block {
  padding: 1rem; }
  .text-block img {
    height: 80px;
    margin-top: 1.1rem; }

.mockup img {
  width: 90%;
  border-radius: 10px; }

/*
* === fotowoltaika ===
*/
.fotowoltaika-tiles {
  max-width: 1200px; }
  .fotowoltaika-tiles p {
    color: #fff; }
  .fotowoltaika-tiles .one {
    background-image: url("../assets/ps-color-pic/panels-bg.jpg"); }
  .fotowoltaika-tiles .two {
    background-image: url("../assets/ps-color-pic/inverter-bg.jpg"); }
  .fotowoltaika-tiles img {
    height: 80px; }

.fotowoltaika-tile {
  background-repeat: no-repeat;
  background-position: center;
  margin: 0.5rem;
  padding: 2rem;
  border-radius: 10px; }

.fotowolaika-content {
  padding: 0.7rem;
  max-width: 1000px;
  margin: 0 auto; }
  .fotowolaika-content h3 {
    padding-bottom: 1.5rem; }
  .fotowolaika-content ul {
    text-align: left; }
    .fotowolaika-content ul li {
      line-height: 2rem;
      list-style-type: circle;
      list-style-image: url("../assets/flaticon/tick.jpg");
      margin-bottom: 1rem; }
  .fotowolaika-content p {
    line-height: 2rem; }

.fotowoltaika-law {
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  border-radius: 10px;
  padding: 1rem;
  margin-top: 3rem; }

.law {
  height: 70px; }

.on-grid {
  width: 100%; }

/*
* === oferta ===
*/
.kroki {
  margin-top: 1.6rem; }

.kroki-tile {
  max-width: 480px;
  margin: 0 auto;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  background: #f9f8f8;
  border-radius: 10px; }
  .kroki-tile img {
    height: 60px; }
  .kroki-tile h3 {
    font-size: 1.6rem;
    font-weight: bold;
    color: #F6B229;
    margin: 0.5rem; }
  .kroki-tile h4 {
    font-size: 1.2rem;
    margin: 0.3rem;
    font-weight: bold; }
  .kroki-tile p {
    padding-bottom: 1rem;
    margin-left: 0.8rem;
    margin-right: 0.81rem; }

/*
* === kontakt ===
*/
.contact-content {
  max-width: 1000px;
  margin: 0 auto; }
  .contact-content p:first-child {
    padding: 1.5rem; }
  .contact-content img:last-child {
    display: none; }

.contact-columns {
  max-width: 400px;
  margin: 0 auto; }
  .contact-columns img {
    height: 55px; }
  .contact-columns h3 {
    color: #F6B229;
    font-weight: bold; }
  .contact-columns .column {
    border-radius: 10px;
    background: #faf8f8;
    padding: 2rem 0; }
  .contact-columns .one p:nth-child(odd) {
    margin-top: -1rem; }
  .contact-columns .two {
    margin-top: 2rem; }

/*
* === media queries ===
*/
@media screen and (max-width: 870px) {
  nav {
    display: none; }
  .fotowoltaika-tiles .two {
    margin-top: 2rem; } }

@media screen and (min-width: 796px) and (max-width: 1087px) {
  .kroki {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .kroki-tile {
    padding: 2rem 1rem 1rem 1rem;
    margin: 1rem; } }

@media screen and (min-width: 871px) {
  nav {
    display: block; }
  .menu {
    display: none; }
  .home-banner h1 {
    font-size: 1.7rem; }
  .ref-tiles {
    flex-direction: row;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 2rem; }
  .tile {
    margin-right: 1rem; }
    .tile:last-child {
      margin-right: auto; }
  .home-photo-tiles {
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3, 1fr; }
  .energy {
    grid-column: 1/2;
    grid-row: 2/3; }
  .rectangle {
    margin: 0 auto;
    height: 20rem;
    width: 100%; }
  .text-block {
    padding: 1rem 25%; }
  .mockup img {
    width: 55%; }
  .fotowoltaika-tiles {
    display: flex;
    margin: 0 auto;
    margin-top: 2.5rem;
    margin-bottom: 1.2rem; }
    .fotowoltaika-tiles img {
      height: 100px; }
    .fotowoltaika-tiles p {
      padding: 2rem; }
    .fotowoltaika-tiles .one {
      margin-right: 2rem; }
    .fotowoltaika-tiles .two {
      margin-left: 2rem; }
  .fotowoltaika-content ul {
    padding: 0 6rem;
    text-align: center; }
  .fotowoltaika-law {
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    padding: 3rem;
    margin-top: 5rem; }
  .contact-columns {
    max-width: 1500px;
    align-items: flex-start;
    display: flex; }
    .contact-columns .two {
      margin-top: 0; }
    .contact-columns .column {
      width: 50%;
      background: none; }
  .contact-content img:last-child {
    display: block;
    width: 90%;
    margin: 2rem auto 2rem auto; }
  .contact-content p:first-child {
    font-size: 20px; } }

@media screen and (min-width: 990px) and (max-width: 1160px) {
  .tile {
    max-width: 250px; } }

@media screen and (min-width: 1055px) {
  nav {
    margin-right: 1rem; } }

@media screen and (min-width: 1089px) {
  .kroki {
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr; }
  .kroki-tile {
    margin: 0.5rem; } }

@media screen and (min-width: 1255px) {
  h2 {
    font-size: 2.1rem; }
  h3 {
    font-size: 1.6rem; }
  p, li {
    font-size: 20px; }
  .header-inner nav ul {
    margin-top: 3rem; }
  .header-inner-overlay nav .ul-overlay {
    margin-top: 4rem; }
  .logo {
    height: 80px; }
  .logo img {
    height: 80px;
    margin-top: 0.5rem; }
  .tile {
    margin-right: 3rem; }
    .tile:last-child {
      margin-right: auto; }
  .logo-overlay {
    height: 60px; }
  .logo-overlay img {
    height: 120px; }
  .mockup img {
    margin-top: 3rem; }
  .fotowolaika-content p {
    line-height: 2.6rem; }
  .on-grid {
    margin: 2.7rem 0; } }
