/*
* === colors variables===
*/
/*
* === other variables===
*/
/*

* === general styles ===
*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', 'Lato', sans-serif;
  text-align: center; }

h1, h2, h3, h4, li {
  color: #0D4081; }

h3 {
  font-size: 1.2rem;
  font-weight: 400; }

p {
  font-size: 18px;
  color: #0D4081;
  line-height: 30px; }

li {
  list-style-type: none;
  font-size: 18px; }

a {
  text-decoration: none; }
  a:link, a:visited {
    color: #0D4081; }

.active {
  border-bottom: 3px solid #B8BE00; }

/*
* === home ===
*/
h2 {
  font-size: 1.5rem;
  margin-top: 2.5rem;
  position: relative;
  color: #0D4081;
  border-bottom: 4px solid #F6B229;
  display: inline-block;
  padding-bottom: 0.5rem; }

header {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3rem; }

.logo img {
  height: 80px; }

nav {
  margin-top: -1.8rem; }
  nav ul li {
    margin: 0.7rem;
    padding-bottom: 0.5rem;
    display: inline; }

.menu {
  width: 50px;
  height: 50px;
  position: relative;
  text-align: left; }
  .menu .line {
    position: absolute;
    height: 5px;
    width: 100%;
    background: #0D4081;
    border-radius: 10px;
    transition: 0.2s ease-in-out; }
  .menu .one {
    top: 20%; }
  .menu .two {
    top: 50%; }
  .menu .three {
    top: 80%; }

/*
* === o firmie ===
*/
.text-block {
  padding: 1rem; }
  .text-block img {
    height: 80px;
    margin-top: 1.1rem; }

.mockup img {
  width: 90%;
  border-radius: 10px; }

/*
* === fotowoltaika ===
*/
.fotowoltaika-tiles {
  max-width: 1200px; }
  .fotowoltaika-tiles p {
    color: #fff; }
  .fotowoltaika-tiles .one {
    background-image: url("../assets/ps-color-pic/panels-bg.jpg"); }
  .fotowoltaika-tiles .two {
    background-image: url("../assets/ps-color-pic/inverter-bg.jpg"); }
  .fotowoltaika-tiles img {
    height: 80px; }

.fotowoltaika-tile {
  background-repeat: no-repeat;
  background-position: center;
  margin: 0.5rem;
  padding: 2rem;
  border-radius: 10px; }

.fotowolaika-content {
  padding: 0.7rem;
  max-width: 1000px;
  margin: 0 auto; }
  .fotowolaika-content ul {
    text-align: left; }
    .fotowolaika-content ul li {
      line-height: 2rem;
      list-style-type: circle;
      list-style-image: url("../assets/flaticon/tick.jpg");
      margin-bottom: 1rem; }
  .fotowolaika-content p {
    line-height: 2rem; }

.fotowoltaika-law {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  padding: 1rem;
  margin-top: 3rem; }

.law {
  height: 70px; }

.on-grid {
  width: 100%; }

/*
* === kontakt ===
*/
.contact-content {
  max-width: 1000px;
  margin: 0 auto; }
  .contact-content p:first-child {
    padding: 1.5rem; }
  .contact-content img:last-child {
    display: none; }

.contact-columns {
  max-width: 400px;
  margin: 0 auto; }
  .contact-columns img {
    height: 55px; }
  .contact-columns h3 {
    color: #F6B229;
    font-weight: bold; }
  .contact-columns .column {
    border-radius: 10px;
    background: #faf8f8;
    padding: 2rem 0; }
  .contact-columns .one p:nth-child(odd) {
    margin-top: -1rem; }
  .contact-columns .two {
    margin-top: 2rem; }

/*
* === media queries ===
*/
@media screen and (max-width: 870px) {
  nav {
    display: none; }
  .fotowoltaika-tiles .two {
    margin-top: 2rem; } }

@media screen and (min-width: 871px) {
  nav {
    display: block; }
  .menu {
    display: none; }
  .text-block {
    padding: 1rem 25%; }
  .mockup img {
    width: 55%; }
  .fotowoltaika-tiles {
    display: flex;
    margin: 0 auto;
    margin-top: 2rem; }
    .fotowoltaika-tiles img {
      height: 100px; }
    .fotowoltaika-tiles p {
      padding: 2rem; }
    .fotowoltaika-tiles .one {
      margin-right: 2rem; }
    .fotowoltaika-tiles .two {
      margin-left: 2rem; }
  .fotowoltaika-content ul {
    padding: 0 6rem;
    text-align: center; }
  .fotowoltaika-law {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 3rem;
    margin-top: 5rem; }
  .contact-columns {
    max-width: 1500px;
    align-items: flex-start;
    display: flex; }
    .contact-columns .two {
      margin-top: 0; }
    .contact-columns .column {
      width: 50%;
      background: none; }
  .contact-content img:last-child {
    display: block;
    width: 90%;
    margin: 2rem auto 2rem auto; }
  .contact-content p:first-child {
    font-size: 20px; } }

@media screen and (min-width: 1055px) {
  nav {
    margin-right: 1rem; } }

@media screen and (min-width: 1255px) {
  h2 {
    font-size: 2.1rem; }
  h3 {
    font-size: 1.6rem; }
  p, li {
    font-size: 20px; }
  .logo img {
    height: 120px; }
  .mockup img {
    margin-top: 3rem; }
  .fotowolaika-content p {
    line-height: 2.6rem; }
  .on-grid {
    margin: 2.7rem 0; } }
